<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irs.mapper.IntegralsRewardMapper">
  <resultMap id="BaseResultMap" type="com.irs.pojo.IntegralsReward">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="r_prices" jdbcType="VARCHAR" property="rPrices" />
    <result column="r_num" jdbcType="INTEGER" property="rNum" />
    <result column="r1" jdbcType="VARCHAR" property="r1" />
    <result column="r2" jdbcType="VARCHAR" property="r2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    r_id, r_prices, r_num, r1, r2
  </sql>
  <select id="selectByExample" parameterType="com.irs.pojo.IntegralsRewardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from integrals_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from integrals_reward
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from integrals_reward
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.irs.pojo.IntegralsRewardExample">
    delete from integrals_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.irs.pojo.IntegralsReward">
    insert into integrals_reward (r_id, r_prices, r_num, 
      r1, r2)
    values (#{rId,jdbcType=INTEGER}, #{rPrices,jdbcType=VARCHAR}, #{rNum,jdbcType=INTEGER}, 
      #{r1,jdbcType=VARCHAR}, #{r2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.irs.pojo.IntegralsReward">
    insert into integrals_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="rPrices != null">
        r_prices,
      </if>
      <if test="rNum != null">
        r_num,
      </if>
      <if test="r1 != null">
        r1,
      </if>
      <if test="r2 != null">
        r2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rPrices != null">
        #{rPrices,jdbcType=VARCHAR},
      </if>
      <if test="rNum != null">
        #{rNum,jdbcType=INTEGER},
      </if>
      <if test="r1 != null">
        #{r1,jdbcType=VARCHAR},
      </if>
      <if test="r2 != null">
        #{r2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.irs.pojo.IntegralsRewardExample" resultType="java.lang.Long">
    select count(*) from integrals_reward
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update integrals_reward
    <set>
      <if test="record.rId != null">
        r_id = #{record.rId,jdbcType=INTEGER},
      </if>
      <if test="record.rPrices != null">
        r_prices = #{record.rPrices,jdbcType=VARCHAR},
      </if>
      <if test="record.rNum != null">
        r_num = #{record.rNum,jdbcType=INTEGER},
      </if>
      <if test="record.r1 != null">
        r1 = #{record.r1,jdbcType=VARCHAR},
      </if>
      <if test="record.r2 != null">
        r2 = #{record.r2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update integrals_reward
    set r_id = #{record.rId,jdbcType=INTEGER},
      r_prices = #{record.rPrices,jdbcType=VARCHAR},
      r_num = #{record.rNum,jdbcType=INTEGER},
      r1 = #{record.r1,jdbcType=VARCHAR},
      r2 = #{record.r2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.irs.pojo.IntegralsReward">
    update integrals_reward
    <set>
      <if test="rPrices != null">
        r_prices = #{rPrices,jdbcType=VARCHAR},
      </if>
      <if test="rNum != null">
        r_num = #{rNum,jdbcType=INTEGER},
      </if>
      <if test="r1 != null">
        r1 = #{r1,jdbcType=VARCHAR},
      </if>
      <if test="r2 != null">
        r2 = #{r2,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.irs.pojo.IntegralsReward">
    update integrals_reward
    set r_prices = #{rPrices,jdbcType=VARCHAR},
      r_num = #{rNum,jdbcType=INTEGER},
      r1 = #{r1,jdbcType=VARCHAR},
      r2 = #{r2,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>