<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irs.mapper.ShopActivityMapper">
  <resultMap id="BaseResultMap" type="com.irs.pojo.ShopActivity">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_name" jdbcType="VARCHAR" property="aName" />
    <result column="a_pic" jdbcType="VARCHAR" property="aPic" />
    <result column="a_type" jdbcType="INTEGER" property="aType" />
    <result column="a_status" jdbcType="INTEGER" property="aStatus" />
    <result column="a_num" jdbcType="INTEGER" property="aNum" />
    <result column="a_url" jdbcType="VARCHAR" property="aUrl" />
    <result column="a_starttime" jdbcType="VARCHAR" property="aStarttime" />
    <result column="a_endtime" jdbcType="VARCHAR" property="aEndtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, a_name, a_pic, a_type, a_status, a_num, a_url, a_starttime, a_endtime
  </sql>
  <select id="selectByExample" parameterType="com.irs.pojo.ShopActivityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_activity
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_activity
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.irs.pojo.ShopActivityExample">
    delete from shop_activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.irs.pojo.ShopActivity">
    insert into shop_activity (a_id, a_name, a_pic, 
      a_type, a_status, a_num, 
      a_url, a_starttime, a_endtime
      )
    values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aPic,jdbcType=VARCHAR}, 
      #{aType,jdbcType=INTEGER}, #{aStatus,jdbcType=INTEGER}, #{aNum,jdbcType=INTEGER}, 
      #{aUrl,jdbcType=VARCHAR}, #{aStarttime,jdbcType=VARCHAR}, #{aEndtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.irs.pojo.ShopActivity">
    insert into shop_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="aName != null">
        a_name,
      </if>
      <if test="aPic != null">
        a_pic,
      </if>
      <if test="aType != null">
        a_type,
      </if>
      <if test="aStatus != null">
        a_status,
      </if>
      <if test="aNum != null">
        a_num,
      </if>
      <if test="aUrl != null">
        a_url,
      </if>
      <if test="aStarttime != null">
        a_starttime,
      </if>
      <if test="aEndtime != null">
        a_endtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aName != null">
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPic != null">
        #{aPic,jdbcType=VARCHAR},
      </if>
      <if test="aType != null">
        #{aType,jdbcType=INTEGER},
      </if>
      <if test="aStatus != null">
        #{aStatus,jdbcType=INTEGER},
      </if>
      <if test="aNum != null">
        #{aNum,jdbcType=INTEGER},
      </if>
      <if test="aUrl != null">
        #{aUrl,jdbcType=VARCHAR},
      </if>
      <if test="aStarttime != null">
        #{aStarttime,jdbcType=VARCHAR},
      </if>
      <if test="aEndtime != null">
        #{aEndtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.irs.pojo.ShopActivityExample" resultType="java.lang.Long">
    select count(*) from shop_activity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_activity
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aName != null">
        a_name = #{record.aName,jdbcType=VARCHAR},
      </if>
      <if test="record.aPic != null">
        a_pic = #{record.aPic,jdbcType=VARCHAR},
      </if>
      <if test="record.aType != null">
        a_type = #{record.aType,jdbcType=INTEGER},
      </if>
      <if test="record.aStatus != null">
        a_status = #{record.aStatus,jdbcType=INTEGER},
      </if>
      <if test="record.aNum != null">
        a_num = #{record.aNum,jdbcType=INTEGER},
      </if>
      <if test="record.aUrl != null">
        a_url = #{record.aUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.aStarttime != null">
        a_starttime = #{record.aStarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.aEndtime != null">
        a_endtime = #{record.aEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_activity
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_name = #{record.aName,jdbcType=VARCHAR},
      a_pic = #{record.aPic,jdbcType=VARCHAR},
      a_type = #{record.aType,jdbcType=INTEGER},
      a_status = #{record.aStatus,jdbcType=INTEGER},
      a_num = #{record.aNum,jdbcType=INTEGER},
      a_url = #{record.aUrl,jdbcType=VARCHAR},
      a_starttime = #{record.aStarttime,jdbcType=VARCHAR},
      a_endtime = #{record.aEndtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.irs.pojo.ShopActivity">
    update shop_activity
    <set>
      <if test="aName != null">
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPic != null">
        a_pic = #{aPic,jdbcType=VARCHAR},
      </if>
      <if test="aType != null">
        a_type = #{aType,jdbcType=INTEGER},
      </if>
      <if test="aStatus != null">
        a_status = #{aStatus,jdbcType=INTEGER},
      </if>
      <if test="aNum != null">
        a_num = #{aNum,jdbcType=INTEGER},
      </if>
      <if test="aUrl != null">
        a_url = #{aUrl,jdbcType=VARCHAR},
      </if>
      <if test="aStarttime != null">
        a_starttime = #{aStarttime,jdbcType=VARCHAR},
      </if>
      <if test="aEndtime != null">
        a_endtime = #{aEndtime,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.irs.pojo.ShopActivity">
    update shop_activity
    set a_name = #{aName,jdbcType=VARCHAR},
      a_pic = #{aPic,jdbcType=VARCHAR},
      a_type = #{aType,jdbcType=INTEGER},
      a_status = #{aStatus,jdbcType=INTEGER},
      a_num = #{aNum,jdbcType=INTEGER},
      a_url = #{aUrl,jdbcType=VARCHAR},
      a_starttime = #{aStarttime,jdbcType=VARCHAR},
      a_endtime = #{aEndtime,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>